extends parts/_docTemplate

//- 문서 제목 변경설정
block pageTitle
    | Jade 템플릿 엔친 설치 및 활용

//- 슬로건 변경설정
block slogan
    | Gulp 프로젝트에서 Jade를 활용하는 방법을 공부합니다.

//- 콘텐츠 변경 설정
block contents
    h2(lang="en") Gulp &amp; gulp-jade Module
    p
        a(href="http://gulpjs.com", target="_blank") Gulp
        | 를 활용하면 Jade 사용이 손쉬워집니다.
    p
        a(href="https://github.com/phated/gulp-jade", target="_blank") 사용법
        | 을 공부해보세요.