head
    meta(http-equiv="X-UA-Compatible", content="IE=Edge")
    block metatags
        meta(name="author", content="hyungju")
        meta(name="viewport", content="width=device-width, initial-scale=1")
    title
        block pageTitle
            | -title-
    //-block stylesheets
    //-    link(rel="stylesheet", href="css/style.css")
    style
        include ../../../dist/css/style.css
    script(src="js/libs/libs.js")
    script
        include ../../../dist/js/DOMlibrary.min.js